#Node
node_modules/
.features-gen/
dist/

#Environment variables
.env
env/.env.dev
env/.env.staging
.env.*
!.env.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Allure
allure-results/
allure-report/

#VS Code
.vscode/

#OS files
.DS_Store
Thumb.db

#logs
*.log